@import url("assets/css/transition.css");
@import url("assets/css/scrollbar.css");

@tailwind components;
@tailwind base;
@tailwind utilities;

h1 {
    line-height: 1.3em !important;
    @apply mb-[2em] text-3xl lg:text-5xl font-bold;
}

h2 {
    line-height: 1.1em !important;
    @apply mb-[1.25em] text-2xl lg:text-4xl font-bold;
}

h3 {
    @apply mb-[0.85em] text-lg lg:text-xl font-semibold;
}

html {
    @apply text-base text-base-content scroll-smooth !important;
}

* {
    scrollbar-width: none;
    --headline-height: 72px;
    --content-width: 80rem;
}

body {
    font-family: "Poppins";
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    /* #__nuxt {
        scroll-behavior: smooth !important;
        @apply overflow-y-scroll;
    } */
    @apply m-0 h-screen text-base;
}

.click-anim {
    @apply transition-all;
    @media (prefers-reduced-motion: no-preference) {
        animation: button-pop var(--animation-btn, 0.25s) ease-out;
    }
    &:active:hover,
    &:active:focus {
        animation: button-pop 0s ease-out;
        transform: scale(var(--btn-focus-scale, 0.97));
    }
}
.iconify {
    @apply shrink-0 !important;
}

.markdown-content {
    a:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .unstyled-a) {
        @apply link text-primary link-hover;
    }
    div {
        @apply my-2;
    }
    ul {
        @apply my-2;
    }
    li {
        text-indent: -1em;
        @apply ml-8 my-2;
    }

    li::before {
        content: "●";
        @apply pr-2;
    }

    h1 {
        @apply my-12;
    }

    h2 {
        @apply mt-8;
    }

    h3 {
        @apply mt-6;
    }
    p {
        @apply text-base;
    }

    .alert-class {
        @apply my-6 text-base px-4 py-1 !important;
    }

    blockquote {
        @apply relative p-4 my-2 bg-base-300 rounded-btn border-l-[4px] border-primary;
    }

    code {
        word-break: normal;
        overflow-wrap: anywhere;
        @apply bg-base-content/15 px-[5px] py-[1px] rounded-md font-inconsolata;
    }

    pre {
        @apply px-4 bg-base-300 rounded-lg my-4 text-wrap;
    }
}

.input {
    @apply contain-strict;
}
